 body {
     background-image: url("https://dk2dv4ezy246u.cloudfront.net/widgets/sSExd86zu6D_large.jpg");
  }

h1 {
     background-color: white; 
     text-align: center;
  }

img {
     display: block;
     height: 600px;
     width:500px;
     margin: auto;
     background-color: white;
     margin-top: 100px;
     margin-bottom: 10px;
  }

#myButton {
     background-color: darkred;
     color: white;
     font-size:20px;
     padding: 18px;
     border:none;
     cursor: pointer;
     position: absolute;
     width: 100%; 
     height: 5%;
     margin-top: -700px;
     margin: center; 
  }

#showButton {
     
     color: white;
     padding: 10px;
     border: none;
     cursor: pointer;
 }
#myBox {
     border: 2px solid black;
     padding: 100px;
     width: 300px;
     height: 200px;
     font-size: 30px;
 }

#newButtonId {
     background-color: orange;
     color: white;
     padding: 18px;
     border: none;
     cursor: pointer;
     position: absolute;
     width: 100%; 
     height: 5%;
  }

.check-button {
     font-size: 30px;
 }

form {
     width: 100%; 
     height: 5%;
     background-color: white ;
     margin-top: 100px;
     font-size: 30px;
     color: darkred;
     position: absolute;
     padding: 5px;
  }

label,select{
     display: block;
     margin-top: 20px;
     margin: center;
     font-size:30px;
  }
  
#submit {
  font-size: 100px;
}
#line-down {
     height: 50px;
     width: 100%;
     background-color: white;
     margin-top: 30px; 
     margin-bottom: 20px;
  }


  




